.cockpit-dropdown-div[_ngcontent-c1] {
    position: absolute;
    top: 60px;
}
body #main-panel {

    padding: 2em 0em !important;
 
}
.my-footer {
    background-color: #ccc;
}
footer.my-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 999999;
}
    footer.my-footer .container {
        padding: .5em 0 !important;
    }
.my-footer .navbar-footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.my-footer .navbar-footer a {
    color: #333 !important;
    text-decoration: none;
}
