<form _ngcontent-c1="" novalidate="" class="ng-untouched ng-pristine ng-valid">
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-clip-rotate">
            </ngx-spinner>
    <div _ngcontent-c1="" class="row">
        <div _ngcontent-c1="" class="col-md-6">
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.NameofCompany'|translate}}</label>
                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="NameofCompany" #NameOfCompany="ngModel" [(ngModel)]="userProfileData.NameOfCompany" name="NameOfCompany" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.Street'|translate}}</label>
                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="Street" #Street="ngModel" [(ngModel)]="userProfileData.Street" name="Street" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.PostalCode'|translate}}</label>
                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="PostalCode" #PostalCode="ngModel" [(ngModel)]="userProfileData.PostalCode" name="PostalCode" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.Place'|translate}}</label>
                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="Place" #Place="ngModel" [(ngModel)]="userProfileData.Place" name="Place" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.AccountHolder'|translate}}</label>
                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="AccountHolder" #AccountHolder="ngModel" [(ngModel)]="userProfileData.AccountHolder" name="AccountHolder" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.Bank'|translate}}</label>
                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="Bank" #Bank="ngModel" [(ngModel)]="userProfileData.Bank" name="Bank" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.IBAN'|translate}}</label>
                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="IBAN" #IBAN="ngModel" [(ngModel)]="userProfileData.IBAN" name="IBAN" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.BICCode'|translate}}</label>
                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="BICCode" #BICCode="ngModel" [(ngModel)]="userProfileData.BICCode" name="BICCode" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.Salutation'|translate}}</label>
                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="Salutation" #SalutationValue="ngModel" [(ngModel)]="userProfileData.SalutationValue" name="SalutationValue" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.Title'|translate}}</label>
                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="Title" #Title="ngModel" [(ngModel)]="userProfileData.Title" name="Title" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.FirstName'|translate}}</label>
                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="FirstName" #FirstName="ngModel" [(ngModel)]="userProfileData.FirstName" name="FirstName" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.SurName'|translate}}</label>
                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="SirName" #SurName="ngModel" [(ngModel)]="userProfileData.SurName" name="SurName" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.EmailAddress'|translate}}</label>
                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="EmailAddress" #EmailAddress="ngModel" [(ngModel)]="userProfileData.EmailAddress" name="EmailAddress" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.Username'|translate}}</label>
                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="Username" #UserName="ngModel" [(ngModel)]="userProfileData.UserName" name="UserName" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.TelephoneNo'|translate}}</label>
                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="TelephoneNo" #ContactNumber="ngModel" [(ngModel)]="userProfileData.ContactNumber" name="ContactNumber" placeholder="" type="text" disabled="">
            </div>
            <!-- <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.AccountHolder'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="AccountHolder" name="AccountHolder" placeholder="" type="text" disabled="">
            </div> -->
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.MinimumVolume'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="MinimumVolume" name="MinimumVolume" placeholder="" type="text" disabled="">
            </div>
            <!--<div class="full-width">
            <label _ngcontent-c1="">{{'UserProfile.Rating'|translate}} </label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="first_name" name="FirstName" placeholder="" type="text" disabled="">
        </div>-->
        </div>
        <div class="col-6">
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.CommercialRegisterExtract'|translate}} </label>
                <div>
                    <a href="{{path}}{{userProfileData.CommercialRegisterExtract}}" style="float: left;">{{userProfileData.CommercialRegisterExtract}}</a>
                </div>
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.IdentityCard'|translate}} </label>
                <div >
                    <a href="{{path}}{{userProfileData.IdentityCard}}" style="float: left;">{{userProfileData.IdentityCard}}</a>
                </div>
            </div>

            <!-- Comment below div -->
            <div id="divtestUpload">
                <file-uploader [maxSizeInKb]="110" [allowMultiple]="false" [fileType]="'application/pdf'"
                               (onSelection)="fileuploaderFileChange($event)" [required]="false"></file-uploader>
                <ul style="margin:0px; padding:0px;">
                    <li *ngFor="let file of userProfileServiceService.listOfFileUploaded" style="width:100%; display:block; float:left; list-style-type:none; margin-bottom:5px;">
                        <a href="{{path}}{{file.name}}" style="float: left;">{{file.name}}</a> <a (click)="DeleteDocument(file.name,file.docId)" style="float: left;"><i _ngcontent-c1="" class="material-icons " style="color: #fff;
    margin-top: 6px; font-size:14px; float:left; margin-left:10px;">delete</i></a>
                    </li>
                </ul>
            </div>
        </div>
        

    </div>
</form>