<form _ngcontent-c1="" novalidate="" class="ng-untouched ng-pristine ng-valid">
    <div _ngcontent-c1="" class="row">
        <div _ngcontent-c1="" class="col-md-6">
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.NameofCompany'|translate}}</label>
                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" ng-model="userProfileData." id="NameofCompany" name="NameofCompany" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.Street'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="Street" name="Street" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.PostalCode'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="PostalCode" name="PostalCode" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.Place'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="Place" name="Place" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.AccountHolder'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="AccountHolder" name="AccountHolder" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.Bank'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="Bank" name="Bank" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.IBAN'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="IBAN" name="IBAN" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.BICCode'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="BICCode" name="BICCode" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.Salutation'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="Salutation" name="Salutation" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.Title'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="Title" name="Title" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.FirstName'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="FirstName" name="FirstName" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.SirName'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="SirName" name="SirName" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.EmailAddress'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="EmailAddress" name="EmailAddress" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.CreateUsername'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="Username" name="Username" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.TelephoneNo'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="TelephoneNo" name="TelephoneNo" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.AccountHolder'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="AccountHolder" name="AccountHolder" placeholder="" type="text" disabled="">
            </div>
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.MinimumVolume'|translate}}</label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="MinimumVolume" name="MinimumVolume" placeholder="" type="text" disabled="">
            </div>
            <!--<div class="full-width">
            <label _ngcontent-c1="">{{'UserProfile.Rating'|translate}} </label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="first_name" name="FirstName" placeholder="" type="text" disabled="">
        </div>-->
        </div>
        <div class="col-6">
            <div class="full-width">
                <label _ngcontent-c1="">{{'UserProfile.CommercialRegisterExtract'|translate}} </label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="first_name" name="FirstName" placeholder="" type="text" disabled=""/>
            </div> 
        </div>
        <div class="full-width">
            <label _ngcontent-c1="">{{'UserProfile.IdendityCard'|translate}} </label><input _ngcontent-c1="" class="form-control ng-untouched ng-pristine" id="first_name" name="FirstName" placeholder="" type="text" disabled=""/>
        </div>
    </div>
</form>



