<div class="container-fluid" id="main-panel">

    <div class="row lendersetting">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <ul>
                <li class="heading">Bank</li>
                <!--<form>-->

                <li>
                    <div class="form-md-line-input has-error">
                        <div class=" input-group" *ngFor="let bank of viewAllPriceService.listViewAllPrice1">
                            <span class="line">{{bank.Bank}}</span>
                            <input id="{{bank.UserId}}" name="{{bank.UserId}}" [(ngModel)]="bank.IsSelected"
                                   type="checkbox" class="cbx used">
                            <label for="{{bank.UserId}}" class="lbl notrobot">
                            </label>
                        </div>

                        <!--<div class=" input-group">-->
                        <!--<span class="line">1 W</span>-->
                        <!--<input id="check1" name="check1" type="checkbox" class="cbx used">-->
                        <!--<label for="check1" class="lbl notrobot">-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--<div class=" input-group">-->
                        <!--<span class="line">2 W</span>-->
                        <!--<input id="check2" name="check1" type="checkbox" class="cbx used">-->
                        <!--<label for="check2" class="lbl notrobot">-->
                        <!--</label>-->
                        <!--</div>-->
                    </div>
                </li>
                <!--</form>-->
            </ul>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
            <ul>
                <!-- <li class="heading head-second">Bank</li> -->
                <!--<form>-->

                <li>
                    <div class=" form-md-line-input has-error">
                        <div class=" input-group" *ngFor="let bank of viewAllPriceService.listViewAllPrice2">
                            <span class="line">{{bank.Bank}}</span>
                            <input id="{{bank.UserId}}" name="{{bank.UserId}}" [(ngModel)]="bank.IsSelected"
                                   type="checkbox" class="cbx used">
                            <label for="{{bank.UserId}}" class="lbl notrobot">
                            </label>
                        </div>

                        <!--<div class=" input-group">-->
                        <!--<span class="line">1 W</span>-->
                        <!--<input id="check3" name="check1" type="checkbox" class="cbx used">-->
                        <!--<label for="check3" class="lbl notrobot">-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--<div class=" input-group">-->
                        <!--<span class="line">2 W</span>-->
                        <!--<input id="check4" name="check1" type="checkbox" class="cbx used">-->
                        <!--<label for="check4" class="lbl notrobot">-->
                        <!--</label>-->
                        <!--</div>-->
                    </div>
                </li>
                <!--</form>-->
            </ul>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
            <ul>
                <!--  <li class="heading head-third">Bank</li> -->
                <!--<form>-->

                <li>
                    <div class="form-md-line-input has-error">
                        <div class=" input-group" *ngFor="let bank of viewAllPriceService.listViewAllPrice3">
                            <span class="line">{{bank.Bank}}</span>
                            <input id="{{bank.UserId}}" name="{{bank.UserId}}" [(ngModel)]="bank.IsSelected"
                                   type="checkbox" class="cbx used">

                            <label for="{{bank.UserId}}" class="lbl notrobot">
                            </label>
                        </div>

                        <!--<div class=" input-group">-->
                        <!--<span class="line">1 W</span>-->
                        <!--<input id="check5" name="check1" type="checkbox" class="cbx used">-->
                        <!--<label for="check5" class="lbl notrobot">-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--<div class=" input-group">-->
                        <!--<span class="line">2 W</span>-->
                        <!--<input id="check6" name="check1" type="checkbox" class="cbx used">-->
                        <!--<label for="check6" class="lbl notrobot">-->
                        <!--</label>-->
                        <!--</div>-->

                    </div>
                </li>
                <!--</form>-->
            </ul>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ngb-pagination [collectionSize]="viewAllPriceService.toatlBanksCount" pageSize="15"
                            (pageChange)="pageChange($event)" [(page)]="viewAllPriceService.selectedPageNumber"
                            aria-label="Default pagination"></ngb-pagination>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
            <button class="btn btn-primary" type="button">SAVE</button>
        </div>
    </div>


    <!-- <div class="container-fluid" id="main-panel"> -->

    <div class="row lendersetting">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <ul>
                <li class="heading">Timing</li>
                <!--<form>-->

                <li>
                    <div class="form-md-line-input has-error">
                        <!--<div class=" input-group" *ngFor="let bank of viewAllPriceService.listViewAllPrice1">-->
                        <!--<span class="line">{{bank.Bank}}</span>-->
                        <!--<input id="{{bank.UserId}}" name="{{bank.UserId}}" [(ngModel)]="bank.IsSelected"-->
                        <!--(ngModelChange)="DeselectSelectBank(bank)" type="checkbox" class="cbx used">-->
                        <!--<label for="{{bank.UserId}}" class="lbl notrobot">-->
                        <!--</label>-->
                        <!--</div>-->
                        <div class=" input-group">
                            <span class="line">TAG</span>
                            <input id="tag" name="tag" [checked]="obj.class1" (change)="isSelected($event.target.checked,1)" type="checkbox" class="cbx used">
                            <label for="tag" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">1 W</span>
                            <input id="w1" name="w1" [checked]="obj.class2" (change)="isSelected($event.target.checked,2)" type="checkbox" class="cbx used">
                            <label for="w1" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">2 W</span>
                            <input id="w2" name="w2" [checked]="obj.class3" (change)="isSelected($event.target.checked,3)" type="checkbox" class="cbx used">
                            <label for="w2" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">3 W</span>
                            <input id="w3" name="w3" [checked]="obj.class4" (change)="isSelected($event.target.checked,4)" type="checkbox" class="cbx used">
                            <label for="w3" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">1 M</span>
                            <input id="m1" name="m1" [checked]="obj.class5" (change)="isSelected($event.target.checked,5)" type="checkbox" class="cbx used">
                            <label for="m1" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">2 M</span>
                            <input id="m2" name="m2" [checked]="obj.class6" (change)="isSelected($event.target.checked,6)" type="checkbox" class="cbx used">
                            <label for="m2" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">3 M</span>
                            <input id="3m" name="3m" [checked]="obj.class7" (change)="isSelected($event.target.checked,7)" type="checkbox" class="cbx used">
                            <label for="3m" class="lbl notrobot">
                            </label>
                        </div>
                    </div>
                </li>
                <!--</form>-->
            </ul>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
            <ul>
                <!-- <li class="heading head-second">Bank</li> -->
                <!--<form>-->

                <li>
                    <div class=" form-md-line-input has-error">
                        <!--<div class=" input-group" *ngFor="let bank of viewAllPriceService.listViewAllPrice2">-->
                        <!--<span class="line">{{bank.Bank}}</span>-->
                        <!--<input id="{{bank.UserId}}" name="{{bank.UserId}}" [(ngModel)]="bank.IsSelected"-->
                        <!--(ngModelChange)="DeselectSelectBank(bank)" type="checkbox" class="cbx used">-->
                        <!--<label for="{{bank.UserId}}" class="lbl notrobot">-->
                        <!--</label>-->
                        <!--</div>-->

                        <div class=" input-group">
                            <span class="line">4 M</span>
                            <input id="4m" name="4m" [checked]="obj.class8" (change)="isSelected($event.target.checked,8)" type="checkbox" class="cbx used">
                            <label for="4m" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">5 M</span>
                            <input id="5m" name="5m" [checked]="obj.class9" (change)="isSelected($event.target.checked,9)" type="checkbox" class="cbx used">
                            <label for="5m" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">6 M</span>
                            <input id="6m" name="6m" [checked]="obj.class10" (change)="isSelected($event.target.checked,10)" type="checkbox" class="cbx used">
                            <label for="6m" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">7 M</span>
                            <input id="7m" name="7m" [checked]="obj.class11" (change)="isSelected($event.target.checked,11)" type="checkbox" class="cbx used">
                            <label for="7m" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">8 M</span>
                            <input id="8m" name="8m" [checked]="obj.class12" (change)="isSelected($event.target.checked,12)" type="checkbox" class="cbx used">
                            <label for="8m" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">9 M</span>
                            <input id="9m" name="9m" [checked]="obj.class13" (change)="isSelected($event.target.checked,13)" type="checkbox" class="cbx used">
                            <label for="9m" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">10 M</span>
                            <input id="10m" name="10m" [checked]="obj.class14" (change)="isSelected($event.target.checked,14)" type="checkbox" class="cbx used">
                            <label for="10m" class="lbl notrobot">
                            </label>
                        </div>
                    </div>
                </li>
                <!--</form>-->
            </ul>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
            <ul>
                <!--  <li class="heading head-third">Bank</li> -->
                <!--<form>-->

                <li>
                    <div class="form-md-line-input has-error">
                        <div class=" input-group">
                            <span class="line">11 M</span>
                            <input id="11m" name="11m" [checked]="obj.class15" (change)="isSelected($event.target.checked,15)" type="checkbox" class="cbx used">
                            <label for="11m" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">12 M</span>
                            <input id="12m" name="12m" [checked]="obj.class16" (change)="isSelected($event.target.checked,16)" type="checkbox" class="cbx used">
                            <label for="12m" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">2 Y</span>
                            <input id="2y" name="2y" [checked]="obj.class17" (change)="isSelected($event.target.checked,17)" type="checkbox" class="cbx used">
                            <label for="2y" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">3 Y</span>
                            <input id="3y" name="3y" [checked]="obj.class18" (change)="isSelected($event.target.checked,18)" type="checkbox" class="cbx used">
                            <label for="3y" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">4 Y</span>
                            <input id="4y" name="4y" [checked]="obj.class19" (change)="isSelected($event.target.checked,19)" type="checkbox" class="cbx used">
                            <label for="4y" class="lbl notrobot">
                            </label>
                        </div>
                        <div class=" input-group">
                            <span class="line">5 Y</span>
                            <input id="5y" name="5y" [checked]="obj.class20" (change)="isSelected($event.target.checked,20)" type="checkbox" class="cbx used">
                            <label for="5y" class="lbl notrobot">
                            </label>
                        </div>
                    </div>
                </li>
                <!--</form>-->
            </ul>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <button class="btn btn-primary" (click)="save()" type="button">SAVE</button>
        </div>
    </div>




    <!--<div class="row dashboard-price-list">-->
    <!--<div class="col-lg-12">-->
    <!--<table class="table table-bordered table-responsive">-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<td class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="allChecked"-->
    <!--(change)="isChecked($event.target.checked, 0)" id="check1"><label class="lbl notrobot"-->
    <!--for="check1"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class1" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class1"-->
    <!--(change)="isChecked($event.target.checked, 1)" id="check2"><label class="lbl notrobot"-->
    <!--for="check2"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class2" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class2"-->
    <!--(change)="isChecked($event.target.checked, 2)" id="check3"><label class="lbl notrobot"-->
    <!--for="check3"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class3" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class3"-->
    <!--(change)="isChecked($event.target.checked, 3)" id="check4"><label class="lbl notrobot"-->
    <!--for="check4"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class4" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class4"-->
    <!--(change)="isChecked($event.target.checked, 4)" id="check5"><label class="lbl notrobot"-->
    <!--for="check5"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class5" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class5"-->
    <!--(change)="isChecked($event.target.checked, 5)" id="check6"><label class="lbl notrobot"-->
    <!--for="check6"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class6" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class6"-->
    <!--(change)="isChecked($event.target.checked, 6)" id="check7"><label class="lbl notrobot"-->
    <!--for="check7"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class7" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class7"-->
    <!--(change)="isChecked($event.target.checked, 7)" id="check8"><label class="lbl notrobot"-->
    <!--for="check8"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class8" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class8"-->
    <!--(change)="isChecked($event.target.checked, 8)" id="check9"><label class="lbl notrobot"-->
    <!--for="check9"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class9" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class9"-->
    <!--(change)="isChecked($event.target.checked, 9)" id="check10"><label class="lbl notrobot"-->
    <!--for="check10"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class10" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class10"-->
    <!--(change)="isChecked($event.target.checked, 10)" id="check11"><label class="lbl notrobot"-->
    <!--for="check11"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class11" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class11"-->
    <!--(change)="isChecked($event.target.checked, 11)" id="check12"><label class="lbl notrobot"-->
    <!--for="check12"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class12" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class12"-->
    <!--(change)="isChecked($event.target.checked, 12)" id="check13"><label class="lbl notrobot"-->
    <!--for="check13"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class13" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class13"-->
    <!--(change)="isChecked($event.target.checked, 13)" id="check14"><label class="lbl notrobot"-->
    <!--for="check14"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class14" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class14"-->
    <!--(change)="isChecked($event.target.checked, 14)" id="check15"><label class="lbl notrobot"-->
    <!--for="check15"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class15" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class15"-->
    <!--(change)="isChecked($event.target.checked, 15)" id="check16"><label class="lbl notrobot"-->
    <!--for="check16"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class16" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class16"-->
    <!--(change)="isChecked($event.target.checked, 16)" id="check17"><label class="lbl notrobot"-->
    <!--for="check17"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class17" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class17"-->
    <!--(change)="isChecked($event.target.checked, 17)" id="check18"><label class="lbl notrobot"-->
    <!--for="check18"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class18" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class18"-->
    <!--(change)="isChecked($event.target.checked, 18)" id="check19"><label class="lbl notrobot"-->
    <!--for="check19"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class19" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class19"-->
    <!--(change)="isChecked($event.target.checked, 19)" id="check20"><label class="lbl notrobot"-->
    <!--for="check20"></label>-->
    <!--</td>-->
    <!--<td [hidden]="!obj.class20" class="input-group ourCstmCheckBox">-->
    <!--<input class="cbx used" type="checkbox" [checked]="obj.class20"-->
    <!--(change)="isChecked($event.target.checked, 20)" id="check21"><label class="lbl notrobot"-->
    <!--for="check21"></label>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<th style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyWhichAreNotDeSelected()">{{'Lender.ViewAllPrice.AllBanks'|translate}}</th>-->
    <!--<th [hidden]="!obj.class1" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('TN')">{{'Lender.ViewAllPrice.Tag'|translate}}</th>-->
    <!--<th [hidden]="!obj.class2" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Week1')">{{'Lender.ViewAllPrice.Week1'|translate}}</th>-->
    <!--<th [hidden]="!obj.class3" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Week2')">{{'Lender.ViewAllPrice.Week2'|translate}}</th>-->
    <!--<th [hidden]="!obj.class4" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Week3')">{{'Lender.ViewAllPrice.Week3'|translate}}</th>-->
    <!--<th [hidden]="!obj.class5" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Month1')">{{'Lender.ViewAllPrice.Month1'|translate}}</th>-->
    <!--<th [hidden]="!obj.class6" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Month2')">{{'Lender.ViewAllPrice.Month2'|translate}}</th>-->
    <!--<th [hidden]="!obj.class7" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Month3')"> {{'Lender.ViewAllPrice.Month3'|translate}}</th>-->
    <!--<th [hidden]="!obj.class8" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Month4')">{{'Lender.ViewAllPrice.Month4'|translate}}</th>-->
    <!--<th [hidden]="!obj.class9" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Month5')">{{'Lender.ViewAllPrice.Month5'|translate}}</th>-->
    <!--<th [hidden]="!obj.class10" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Month6')">{{'Lender.ViewAllPrice.Month6'|translate}}</th>-->
    <!--<th [hidden]="!obj.class11" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Month7')">{{'Lender.ViewAllPrice.Month7'|translate}}</th>-->
    <!--<th [hidden]="!obj.class12" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Month8')">{{'Lender.ViewAllPrice.Month8'|translate}}</th>-->
    <!--<th [hidden]="!obj.class13"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Month9')">{{'Lender.ViewAllPrice.Month9'|translate}}</th>-->
    <!--<th [hidden]="!obj.class14" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Month10')">{{'Lender.ViewAllPrice.Month10'|translate}}</th>-->
    <!--<th [hidden]="!obj.class15" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Month11')">{{'Lender.ViewAllPrice.Month11'|translate}}</th>-->
    <!--<th [hidden]="!obj.class16" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Month12')">{{'Lender.ViewAllPrice.Month12'|translate}}</th>-->
    <!--<th [hidden]="!obj.class17" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Year2')">{{'Lender.ViewAllPrice.Year2'|translate}}</th>-->
    <!--<th [hidden]="!obj.class18" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Year3')">{{'Lender.ViewAllPrice.Year3'|translate}}</th>-->
    <!--<th [hidden]="!obj.class19" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Year4')">{{'Lender.ViewAllPrice.Year4'|translate}}</th>-->
    <!--<th [hidden]="!obj.class20" style="cursor:pointer;"-->
    <!--(click)="GetAllBanksWithInterestRateHorizontalyOrderByColumnName('Year5')">{{'Lender.ViewAllPrice.Year5'|translate}}</th>-->
    <!--</tr>-->
    <!--<tr *ngFor="let bank of viewAllPriceService.listAllBanks">-->
    <!--<td>{{bank.Bank}}</td>-->
    <!--<td [hidden]="!bank.class1"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateTN===bank.TN}">{{bank.TN}}</td>-->
    <!--<td [hidden]="!bank.class2"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateW1===bank.Week1}">{{bank.Week1}}</td>-->
    <!--<td [hidden]="!bank.class3"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateW2===bank.Week2}">{{bank.Week2}}</td>-->
    <!--<td [hidden]="!bank.class4"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateW3===bank.Week3}">{{bank.Week3}}</td>-->
    <!--<td [hidden]="!bank.class5"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateM1===bank.Month1}">{{bank.Month1}}</td>-->
    <!--<td [hidden]="!bank.class6"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateM2===bank.Month2}">{{bank.Month2}}</td>-->
    <!--<td [hidden]="!bank.class7"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateM3===bank.Month3}">{{bank.Month3}}</td>-->
    <!--<td [hidden]="!bank.class8"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateM4===bank.Month4}">{{bank.Month4}}</td>-->
    <!--<td [hidden]="!bank.class9"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateM5===bank.Month5}">{{bank.Month5}}</td>-->
    <!--<td [hidden]="!bank.class10"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateM6===bank.Month6}">{{bank.Month6}}</td>-->
    <!--<td [hidden]="!bank.class11"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateM7===bank.Month7}">{{bank.Month7}}</td>-->
    <!--<td [hidden]="!bank.class12"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateM8===bank.Month8}">{{bank.Month8}}</td>-->
    <!--<td [hidden]="!bank.class13"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateM9===bank.Month9}">{{bank.Month9}}</td>-->
    <!--<td [hidden]="!bank.class14"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateM10===bank.Month10}">{{bank.Month10}}</td>-->
    <!--<td [hidden]="!bank.class15"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateM11===bank.Month11}">{{bank.Month11}}</td>-->
    <!--<td [hidden]="!bank.class16"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateM12===bank.Month12}">{{bank.Month12}}</td>-->
    <!--<td [hidden]="!bank.class17"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateY2===bank.Year2}">{{bank.Year2}}</td>-->
    <!--<td [hidden]="!bank.class18"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateY3===bank.Year3}">{{bank.Year3}}</td>-->
    <!--<td [hidden]="!bank.class19"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateY4===bank.Year4}">{{bank.Year4}}</td>-->
    <!--<td [hidden]="!bank.class20"-->
    <!--[ngClass]="{'active':viewAllPriceService.HighestRateY5===bank.Year5}">{{bank.Year5}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
</div>