<form #LoginForm="ngForm">
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-clip-rotate">
    </ngx-spinner>
    <body class="instibg" cz-shortcut-listen="true">
        <!-- Wrapper for the Whole Application -->
        <div id="wrapper">
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="instimatch-logo">
                                <img alt="Insimatch Logo" src="./assets/images/instimatch-logo.jpg">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6">
                            <ul class="in-lang text-right pull-right">
                                <app-forsa-languages>

                                </app-forsa-languages>
                            </ul>

                            <!-- <li class="in-header-user text-right">
                                <a href="javascript:void(0);">
                                    <i class="material-icons whitebg"> supervisor_account </i>
                                </a>
                            </li> -->

                        </div>
                    </div>
                </div>
            </header>


            <!-- Login Page Content-->

            <div class="container">
                <section class="in-login">
                    <div class="row">
                        <div class="col-sm-12 in-login-form">
                            <h2 class="text-left">{{'Login.Title'|translate}}</h2>

                            <!-- <form class="login-form" id="instilogin"> -->
                            <div class="login-form" id="instilogin">



                                <div class="form-group form-md-line-input has-error">
                                    <div class="group input-group">
                                        <input #UserName="ngModel" [(ngModel)]="loginService.loginModel.UserName" name="UserName" type="name" autofocus="" class="used">
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>{{'Login.UserLabel'|translate}}</label>
                                        <span class="input-group-icon">
                                            <i class="material-icons">account_circle</i>
                                        </span>

                                    </div>
                                </div>


                                <div class="form-group form-md-line-input has-error">
                                    <div class=" input-group">
                                        <input *ngIf="!IfShowPassword" #UserPassword="ngModel" [(ngModel)]="loginService.loginModel.UserPassword" name="UserPassword" type="password" id="login_password" class="used">
                                        <input *ngIf="IfShowPassword" #UserPassword1="ngModel" [(ngModel)]="loginService.loginModel.UserPassword" name="UserPassword1" type="text" id="login_password1" class="used">
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>{{'Login.PasswordLabel'|translate}}</label>
                                        <span class="input-group-icon">

                                            <a (mousedown)="keydown($event)" (mouseup)="keyup($event)">
                                                <i class="material-icons password_mask">
                                                    remove_red_eye

                                                </i>
                                            </a>

                                            <!-- <mat-icon  class="mat-icon material-icons" matsuffix="" role="img" aria-hidden="true">visibility_off</mat-icon> -->

                                        </span>

                                    </div>
                                </div>

                                <div class="forgot-pass form-group form-md-line-input has-error">

                                    <a id="forgot-btn" data-toggle="modal" data-target="#in-forgot-password">{{'Login.ForgottenPasswordLabel'|translate}}</a>

                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="in-forgot-password" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">{{'Forget.ForgotPassword'|translate}}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body in-login">
                                                <div class="form-group form-md-line-input has-error">
                                                    <div class="group input-group">
                                                        <input #ForgotPasswordEmailId="ngModel" [(ngModel)]="loginService.loginModel.ForgotPasswordEmailId" name="ForgotPasswordEmailId" type="email" class="used">
                                                        <span class="highlight"></span>
                                                        <span class="bar"></span>
                                                        <label>{{'Forget.Email'|translate}}</label>
                                                        <span class="input-group-icon">
                                                            <i class="material-icons">{{'Forget.Email'|translate}}</i>
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" (click)="ForgotPassword(LoginForm)">{{'Login.ButtonSend'|translate}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input has-error">
                                    <div class=" input-group">
                                        <!--<re-captcha (resolved)="resolved($event)"
                                                    siteKey="6LeEvXQUAAAAAB-OKLgegg5U2L0UoWVWgNOWHP3a"></re-captcha>-->
                                        <!-- <span class="line"> I am not a robot</span>
                                                            <input id="cbx3" type="checkbox" class="cbx used">
                                                            <label for="cbx3" class="lbl notrobot">
                                        </label> -->
                                    </div>
                                </div>
                                <div class="login-margin"></div>
                                <button type="button" class="button btn buttonBlue" (click)="ValidateUser(LoginForm);">
                                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                                    {{'Login.LoginEnter'|translate}} <i class="material-icons">

                                        keyboard_arrow_right
                                    </i>
                                </button>
                                <p class="text-center in-register-text">
                                    {{'Login.DontHaveAccount'|translate}}? ●
                                    <a routerLink="/registration">{{'Login.RegisterHere'|translate}}</a>
                                    <!-- <a routerLink="../Registration/app-registration"><button class="btn btn-success pull-right" > Add Customer</button></a> -->
                                </p>

                            </div>
                        </div>

                    </div>
                </section>
            </div>

        </div>
    </body>
</form>