

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Instimatch Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/dashboard.css">
    <link rel="stylesheet" href="../css/material.min.css"> -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <!--<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">-->

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css'>

    <style>
        .full-width {
            display: block;
            float: left;
            width: 100% !important;
        }

        .dashboard-right div.btn.w-100.active {
            padding: 0;
            margin-bottom: 4px;
            border-radius: 0;
            border-bottom: 1px solid #1c5d98 !important;
            background-color: #1c5d98 !important;
            height: 40px;
        }
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border: none !important;
}

input[type=number] {
    -moz-appearance:textfield;
    border: none !important;
}
    </style>

</head>

<body class="instibg app-pg">
    <!-- Wrapper for the Whole Application -->
    <div id="wrapper" class="wrapper-full">

        <!-- Header Starts Here -->
        <header class="full-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <!-- <a href="javascript:void(0);" id="navbar-toggle" (click)="toggelebar()">
         <!--<button  (click)="toggelbar()">
                        <span class="align-middle input-group-icon menu">
                            <i class="material-icons ">menu</i>
                        </span>
                        </a>-->
                        <div class="instimatch-logo">
                            <img alt="Insimatch Logo" src="../assets/images/instimatch-logo.jpg">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <ul class="in-lang text-right">

                            <app-forsa-languages></app-forsa-languages>

                            <!--<li class="identity account-style">
                            {{'Lender.DashBoard.Account'|translate}}:   {{'Login.BorrowerText'|translate}}
                        </li>-->
                            <li class="identity account-style">
                                {{'Login.BorrowerText'|translate}}
                            </li>
                            <!--   <li class="identity account-style">

                                                    <div class="form-group form-md-line-input has-error">
                                                        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">

                                                    <select class="mdl-selectfield__select" name="LogicRoom" id="logicroom">
                            <span class="input-group-icon">
                                <i class="material-icons">{{'Borrower.BankDashboard.expand_more'|translate}}</i>
                            </span>
                            <option value="" disabled selected>LogicRoom</option>
                            <option value="logicroom1">1</option>
                            <option value="logicroom2">2</option>
                            <option value="logicroom3">3</option>
                            <option value="logicroom4">4</option>
                        </select>
                                                    </div>

                                                    </div>

                                                </li>
                                                <!--<li>
                                                    <a>
                                                        <i class="material-icons icon-position">search</i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <i class="material-icons icon-position">forum</i>
                                                    </a>
                                                </li>-->
                            <li class="identity">
                                <a href="#" data-toggle="modal" data-target=".admin-modal">
                                    <i class="material-icons">perm_identity</i>
                                </a>
                            </li>
                            <li *ngIf="IfBothUserTypeFound" class="settings" title="Switch Screen">
                                <a href="javascript:void(0);" (click)="SwitchScreen()">
                                    <i class="material-icons icon-position">
                                    </i>   {{'Borrower.BankDashboard.Settings'|translate}}

                                </a>
                            </li>
                            <li class="identity" title="Logout">
                                <a href="javascript:void(0);" (click)="Logout()"><i class="material-icons icon-position"> exit_to_app </i></a>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </header>

        <div id="header-menus-new" class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <li>
                        <a class="header-menu-btns" (click)="ShowScreen('BankDashboard');">{{'DashboardText'|translate}}</a>
                    </li>
                </div>
                <div class="col-md-2">
                    <li>
                        <a class="header-menu-btns" (click)="PublishAndUnPublish(true);">
                            {{'Borrower.BankDashboard.PUBLISH'|translate}}


                        </a>
                    </li>
                </div>
                <div class="col-md-2">
                    <li>
                        <a class="header-menu-btns" (click)="PublishAndUnPublish(false);">
                            {{'Borrower.BankDashboard.STOPPUBLISH'|translate}}


                        </a>
                    </li>
                </div>
                <div class="col-md-2">
                    <li>
                        <a *ngIf="IsPublished" class="status-on header-menu-btns">
                            {{'Borrower.BankDashboard.STATUSON'|translate}}
                        </a>
                        <a *ngIf="!IsPublished" class="status-off header-menu-btns">
                            {{'Borrower.BankDashboard.STATUSOFF'|translate}}
                        </a>
                    </li>
                </div>
                <div class="col-md-2">
                    <li>
                        <a class="header-menu-btns" data-toggle="modal" data-target=".counterparty-modal">
                            {{'Borrower.BankDashboard.CounterpartyConfiguration'|translate}}

                        </a>
                    </li>
                </div>
                <div class="col-md-2">
                    <li class="cockpit-btn">
                        <a class="header-menu-btns ">
                            Cockpit

                        </a>

                        <div class="cockpit-dropdown-div">
                            <button type="button" class="dropcockpit" id="eigene" data-toggle="modal" data-target=".bd-example-modal-lg-eigene-Stammdatenverwaltung">
                                {{'Borrower.BankDashboard.Ownmasterdatamanagement'|translate}}
                            </button>
                            <button type="button" class="dropcockpit" routerLink="/maturityList" id="Ansehen">{{'Borrower.BankDashboard.Viewanddownloadyourownduelist'|translate}} </button>
                            <button type="button" class="dropcockpit" routerLink="/historyMaturityList" id="Ansehenund">{{'Borrower.BankDashboard.Viewanddownloadinthepastdonebusiness'|translate}}</button>


                        </div>
                    </li>

                </div>
            </div>

        </div>
        <!-- Header Ends Here -->
        <div class="main-container">
            <!-- Dashboard Page main Content starts-->
            <!-- Aside Starts Here-->
            <aside></aside>
            <!-- Aside Ends Here-->

            <div class="container-fluid application-panel" id="main-panel">
                <div class="row application-page">
                    <div class="col-lg-12 col-md-12" style="width:1500px;">
                        <div class="dashboard-right application-sec" style="width:100%;">

                            <div *ngIf="IfShowBankDashBoard" id="Rate-Panel">
                                <div class="no-gutters row">
                                    <div class="col-md-1 pr-1 text-centered head-modal-table">
                                        <span class="modal-header-table">{{'Borrower.BankDashboard.BankRateField.Runtime'|translate}}</span>
                                    </div>
                                    <div class="col-md-1 pr-1 text-centered head-modal-table">
                                        <span class="modal-header-table">{{'Borrower.BankDashboard.BankRateField.Min'|translate}}</span>
                                    </div>
                                    <div class="col-md-2 pr-1 text-centered head-modal-table">
                                        <span class="modal-header-table">{{'Borrower.BankDashboard.BankRateField.Max'|translate}}</span>
                                    </div>
                                    <div class="col-md-2 pr-1 text-centered head-modal-table">
                                        <span class="modal-header-table"> {{'Borrower.BankDashboard.BankRateField.BaseCurve'|translate}}</span>
                                    </div>
                                    <div class="col-md-2 pr-1 text-centered head-modal-table">
                                        <span class="modal-header-table w-100">{{'ClientGroup.Group1'|translate}}</span>
                                    </div>
                                    <div class="col-md-2 pr-1 text-centered head-modal-table">
                                        <span class="modal-header-table">{{'ClientGroup.Group2'|translate}}</span>
                                    </div>
                                    <div class="col-md-2 pr-1 text-centered head-modal-table">
                                        <span class="modal-header-table">{{'ClientGroup.Group3'|translate}}</span>
                                    </div>

                                </div>


                                <div *ngFor="let rate of listrateofinterstofbank,let i=index" class=" no-gutters row">

                                    <div class="col-md-12 pr-1 row" style="display:block;padding:10px;cursor:pointer" (click)="iconChange(i)">
                                        <span class="plus">
                                            <i class="material-icons" aria-hidden="true" style="float: left;font-size:16px; color:#333;">
                                                {{flagArray[i]?'remove':'add'}}
                                            </i>
                                        </span>
                                    </div>

                                    <div *ngIf="flagArray[i] == true" style="width:100%;">
                                        <div *ngFor="let rate of rate.listintersteRate">
                                            <div class=" no-gutters row" *ngIf="rate.TimePeriod!=='(T/N)'">
                                                <div class="col-md-1 bank-table-box">
                                                    <button type="button" class="btn w-100 ">{{rate.TimePeriodShort}}</button>
                                                </div>


                                                <div class="col-md-1 bank-table-box">
                                                    <div (click)="EnableTextBox(rate,1)" class="btn w-100 w-100-px active">
                                                        <input type="number"
                                                               #RateOfMinValue="ngModel"
                                                               [(ngModel)]="rate.MinValue" name="RateOfMinValue" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2 bank-table-box">
                                                    <div (click)="EnableTextBox(rate,2)" class="btn w-100 w-100-px active">
                                                        <input type="number"
                                                               #MaxValue="ngModel"
                                                               [(ngModel)]="rate.MaxValue" name="MaxValue" value="2" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2 bank-table-box">
                                                    <div class="col-md-6 in-float-lf bank-table-box">
                                                        <div (click)="EnableTextBox(rate,3)" class="btn w-100 w-100-px active">
                                                            <input (blur)="CalculateBaseCurve(rate)" #RateOfBaseCurave="ngModel"
                                                                   [(ngModel)]="rate.BaseCurve" name="RateOfBaseCurave" value="3" style="text-align:center;" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 in-float-lf bank-table-box">
                                                        <button type="button" class="btn w-100 w-100-px">
                                                            <a (click)="IncreaseRateOfInterest(rate,3)" class="valInc">+</a>
                                                            <span>/</span>
                                                            <a (click)="DecreaseRateOfInterest(rate,3)" class="valdec">-</a>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 bank-table-box bank-table-box">
                                                    <div class="col-md-4 bank-table-box in-float-lf">
                                                        <div (click)="EnableTextBox(rate,4)" class="btn w-100 w-100-px active">
                                                            <input (blur)="UpdateRateOfInterest(rate)" type="number"
                                                                   #RateOfInterest="ngModel"
                                                                   [(ngModel)]="rate.FractionRate" name="FractionRate" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 bank-table-box in-float-lf">
                                                        <button type="button" class="btn w-100 w-100-px">
                                                            <a (click)="IncreaseRateOfInterest(rate,4)">+</a>
                                                            <span>/</span>
                                                            <a (click)="DecreaseRateOfInterest(rate,4)">-</a>
                                                        </button>
                                                    </div>
                                                    <div class="col-md-4 bank-table-box in-float-lf">

                                                        <button type="button" class="btn w-100 w-100-px">
                                                            <label style="width: 100%;
                                                                  text-align: center;">{{rate.RateOfInterest}}</label>
                                                        </button>

                                                    </div>

                                                </div>
                                                <div class="col-md-2 bank-table-box">
                                                    <div class="col-md-4 bank-table-box  in-float-lf">
                                                        <div (click)="EnableTextBox(rate,5)" class="btn w-100 active">
                                                            <input (blur)="UpdateRateOfInterest(rate)" type="number"
                                                                   #RateOfInterest2="ngModel"
                                                                   [(ngModel)]="rate.FractionRate2" name="FractionRate2" />
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4 bank-table-box  in-float-lf">
                                                        <button type="button" class="btn w-100">
                                                            <a (click)="IncreaseRateOfInterest(rate,5)">+</a>
                                                            <span>/</span>
                                                            <a (click)="DecreaseRateOfInterest(rate,5)">-</a>
                                                        </button>
                                                    </div>
                                                    <div class="col-md-4 bank-table-box in-float-lf">
                                                        <button type="button" class="btn w-100 w-100-px">
                                                            <label style="width: 100%;
                                                                    text-align: center;">{{rate.RateOfInterest2}}</label>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 bank-table-box">
                                                    <div class="col-md-4 bank-table-box  in-float-lf">
                                                        <div (click)="EnableTextBox(rate,6)" class="btn w-100 active">
                                                            <input (blur)="UpdateRateOfInterest(rate)" type="number"
                                                                   #RateOfInterest3="ngModel"
                                                                   [(ngModel)]="rate.FractionRate3" name="FractionRate3" />
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4 bank-table-box  in-float-lf">
                                                        <button type="button" class="btn w-100">
                                                            <a (click)="IncreaseRateOfInterest(rate,6)">+</a>
                                                            <span>/</span>
                                                            <a (click)="DecreaseRateOfInterest(rate,6)">-</a>
                                                        </button>
                                                    </div>
                                                    <div class="col-md-4 bank-table-box in-float-lf">
                                                        <button type="button" class="btn w-100 w-100-px">
                                                            <label style="width: 100%;text-align: center;">{{rate.RateOfInterest3}}</label>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>


                                <div class="col-md-12 ">
                                    <button type="button" class="btn w-100 w-100-px update-active update" (click)="update(listrateofinterstofbank)">Aktualisieren</button>


                                    <button *ngIf="IsPublished" class="status-on">
                                        {{'Borrower.BankDashboard.STATUSON'|translate}}  <span class="align-middle input-group-icon "></span>
                                    </button>

                                    <button *ngIf="!IsPublished" class="status-off">
                                        {{'Borrower.BankDashboard.STATUSOFF'|translate}}<span class="align-middle input-group-icon ">

                                        </span>
                                    </button>


                                </div>

                                <div class="col-md-2">

                                </div>
                            </div>

                            <!-- Maturity End -->


                        </div>
                    </div>

                </div>
                <footer _ngcontent-c4="" _ngcontent-c1="" class="my-footer"><div _ngcontent-c4="" _ngcontent-c1="" class="container"><div _ngcontent-c4="" _ngcontent-c1="" class="navbar-footer">
                    <a _ngcontent-c4="" _ngcontent-c1="" class="" href="#home">FORSA TopZins- Portal</a><a _ngcontent-c4="" _ngcontent-c1="" href="#news">Nutzungsbedingungen</a><a _ngcontent-c4="" _ngcontent-c1="" href="#contact">Datenschutzerklärung</a><a _ngcontent-c4="" _ngcontent-c1="" href="#contact">Rechtliche Hinweise</a><a _ngcontent-c4="" _ngcontent-c1="" href="#contact">Impressum</a></div></div></footer>

                <!-- modal start-->
                <!--admin icon modal page tab-->
                <div draggable class="modal fade  counterparty-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">{{'ClientGroupAccess.Title'|translate}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body" id="lendrequestbody">
                                <form>
                                    <div class="row">
                                        <div class="form-md-line-input has-error col-sm-12">
                                            <div *ngFor="let group of bankDashboardService.listUserGroupForSettingRateOfInterestVisibility" class="input-group">
                                                <span class="line">{{group.GroupName}}</span>
                                                <input id="{{group.GroupName}}" name="{{group.GroupName}}" [(ngModel)]="group.RateVisible" (ngModelChange)="GroupCheckUnCheck($event,group);" type="checkbox" class="cbx used">
                                                <label for="{{group.GroupName}}" class="lbl notrobot">
                                                </label>
                                                <!--<div *ngIf="bankDashboardService.lastGroupId == group.GroupName" class=" input-group">
                                                <span class="line">{{group.GroupName}}</span>

                                                <input type="checkbox" class="cbx used" checked="checked">
                                                <label for="{{group.GroupName}}" class="lbl notrobot">
                                                </label>
                                            </div>
                                            <div *ngIf="bankDashboardService.lastGroupId != group.GroupName" class=" input-group">


                                                <span class="line">{{group.GroupName}}</span>
                                                <input id="{{group.GroupName}}" name="{{group.GroupName}}" [(ngModel)]="group.RateVisible" (ngModelChange)="GroupCheckUnCheck($event,group);" type="checkbox" class="cbx used">
                                                <label for="{{group.GroupName}}" class="lbl notrobot">
                                                </label>
                                            </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'Button.ButtonClose'|translate}}</button>

                            </div>

                        </div>
                    </div>
                </div>
                <button Id="ShowLendPopup" type="button" style="display:none;" class="btn w-100 active" data-toggle="modal" data-target=".modalSendRequest" data-backdrop="static" data-keyboard="false">Lend</button>
                <!-- modal setting start page tab-->
                <div draggable class="modal fade bd-example-modal-lg-setting-page dashboard-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">{{'Borrower.BankDashboard.SettingStartPage'|translate}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body" id="lendStartPagebody">
                                <select class="form-control" id="setting_start_page">
                                    <option value="">--Select Start Page--</option>
                                    <option value="viewall">{{'Borrower.BankDashboard.ViewAllPrice'|translate}}</option>
                                    <option value="bestprice">{{'Borrower.BankDashboard.BestPriceView'|translate}}</option>
                                    <option value="lendersetting" selected="">{{'Borrower.BankDashboard.LenderSettings'|translate}}</option>
                                </select>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'Button.ButtonClose'|translate}}</button>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- modal setting send request page tab-->
                <div draggable id="modalSendRequest" draggable class="modal fade bd-example-modal-lg modalSendRequest" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">{{'Button.ButtonSendRequest'|translate}}</h5>
                                <p class="model-msg-close" *ngIf="IfRequestSent">Die Anfrage wurde erfolgreich beantwortet, bitte warten Sie auf die Antwort des Geldgebers.</p>

                            </div>

                            <div *ngIf="lenderSendRequestModel" class="modal-body" id="lendrequestbody">
                                <table>
                                    <tbody>
                                        <tr><th>{{'Borrower.BankDashboard.Lender'|translate}}</th><td>{{lenderSendRequestModel.LenderName}}</td></tr>
                                        <tr><th>{{'Borrower.BankDashboard.Borrower'|translate}}</th><td>{{lenderSendRequestModel.BorrowerName}}</td></tr>
                                        <tr><th>{{'Borrower.BankDashboard.Amount'|translate}}</th><td><input [disabled]="1==1" #Amount="ngModel" [(ngModel)]="tempValue" name="Amount" type="text" id="amount1" class="form-control requestamount" maxlength="7"></td></tr>
                                        <tr><th>{{'Borrower.BankDashboard.StartDate'|translate}} </th><td><input [disabled]="1==1" #StartDate="ngModel" [(ngModel)]="lenderSendRequestModel.StartDate" name="StartDate" type="date" id="datepicker" class="form-control hasDatepicker datepicker"></td></tr>
                                        <tr><th>{{'Borrower.BankDashboard.Endate'|translate}}</th><td><input [disabled]="1==1" #EndDate="ngModel" [(ngModel)]="lenderSendRequestModel.EndDate" name="EndDate" type="date" id="datepicker1" class="form-control hasDatepicker datepicker1"></td></tr>
                                        <tr><th>{{'Borrower.BankDashboard.NrOfDays'|translate}}&nbsp;&nbsp;</th><td id="no_of_days">{{lenderSendRequestModel.NoOfDays}}</td></tr>
                                        <tr>
                                            <th>{{'Borrower.BankDashboard.InterestConvention'|translate}}</th>
                                            <td>
                                                <select [disabled]="1==1" #InterestConvention="ngModel" [(ngModel)]="lenderSendRequestModel.InterestConvention" name="InterestConvention" class="form-control" id="interest">

                                                    <option *ngFor="let interest of bestPriceViewService.listInterestConvention" value="{{interest.Id}}">{{interest.Value}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>{{'Borrower.BankDashboard.Payments'|translate}}</th>
                                            <td>
                                                <select #Payments="ngModel" [(ngModel)]="lenderSendRequestModel.Payments" name="Payments" [disabled]="1==1" class="form-control" id="payments">
                                                    <option *ngFor="let payment of bestPriceViewService.listPayments" value="{{payment.Id}}">{{payment.Value}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr><th>{{'Borrower.BankDashboard.RateOfInterest'|translate}}</th><td><input (keypress)="numberWithDecimalOnly($event)" #RateOfInterest="ngModel" [(ngModel)]="lenderSendRequestModel.RateOfInterest" name="RateOfInterest" type="text" id="RateOfInterest1" class="form-control requestamount" maxlength="7"></td></tr>
                                        <tr><td></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <input type="button" [disabled]="IfRequestSent" (click)="UpdateLenderSendRequestRateOfInterest()" class="btn btn-info btn-lg common-bt" id="sendRequest" value="{{'Button.ButtonSend'|translate}}">
                                <button type="button" style="display: none;" class="btn btn-secondary" data-dismiss="modal" (click)="SetTimeInterval()">{{'Button.ButtonClose'|translate}}</button>
                                <button id="closeSendRequestModal" style="display:none;" type="button" data-dismiss="modal" class="btn btn-secondary">Close 12</button>

                            </div>

                        </div>
                    </div>
                </div>


                <!-- Modal showing response-->
                <button Id="ShowResponseModalPopup" type="button" style="display:none;" class="btn w-100 active" data-toggle="modal" data-target=".modalResponse" data-backdrop="static" data-keyboard="false">Lend</button>
                <div draggable id="modalResponse" draggable class="modal fade bd-example-modal-lg modalResponse " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Response</h5>
                            </div>

                            <div class="modal-body" id="lendrequestbody">
                                <span class="btn">{{responseMessage}}</span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="SetTimeInterval()">OK</button>


                            </div>

                        </div>
                    </div>
                </div>




                <!--admin icon modal page tab-->
                <div draggable class="modal fade bd-example-modal-lg-editsetting-page admin-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">{{'Borrower.BankDashboard.UpdateProfile'|translate}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body" id="lenderProfileEdittbody">

                                <form>
                                    <div class="row">

                                        <div class="heading col-sm-12">
                                            <h4>{{'Borrower.BankDashboard.EditDetails'|translate}}</h4>
                                            <hr>
                                        </div>

                                        <div class="col-md-6">
                                            <label>{{'Borrower.BankDashboard.FirstName'|translate}}</label>
                                            <input #FirstName="ngModel" [(ngModel)]="copyLoggedInUser.FirstName" name="FirstName" type="text" placeholder="" class="form-control" id="first_name">
                                        </div>
                                        <div class="col-md-6">
                                            <label>{{'Borrower.BankDashboard.SurName'|translate}}</label>
                                            <input #SurName="ngModel" [(ngModel)]="copyLoggedInUser.SurName" name="SurName" type="text" placeholder="" class="form-control" id="last_name">
                                        </div>
                                        <div class="col-md-12">
                                            <label>{{'Borrower.BankDashboard.CompanyName'|translate}}</label>
                                            <input #NameOfCompany="ngModel" [(ngModel)]="copyLoggedInUser.NameOfCompany" name="NameOfCompany" type="text" placeholder="" class="form-control" id="company_name">
                                        </div>


                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <label>{{'Borrower.BankDashboard.OldPassword'|translate}} *</label>
                                            <input #Password="ngModel" [(ngModel)]="copyLoggedInUser.Password" type="password" name="Password" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label>{{'Borrower.BankDashboard.NewPassword'|translate}} *</label>
                                            <input #NewPassword="ngModel" [(ngModel)]="bankDashboardService.NewPassword" type="password" name="NewPassword" class="form-control">
                                        </div>
                                        <div class="col-md-12">
                                            <label>{{'Borrower.BankDashboard.ConfirmPassword'|translate}} *</label>
                                            <input #ConfirmPassword="ngModel" [(ngModel)]="bankDashboardService.ConfirmPassword" type="password" name="ConfirmPassword" class="form-control">
                                        </div>



                                    </div>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-info btn-lg" id="btnupdateprofile" (click)="ChangePassword();" value="Update">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'Button.ButtonClose'|translate}}</button>

                            </div>

                        </div>
                    </div>
                </div>



                <div draggable data-backdrop="static" data-keyboard="false" class="modal fade bd-example-modal-lg-eigene-Stammdatenverwaltung admin-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                     aria-hidden="true">
                    <div _ngcontent-c1="" class="modal-dialog modal-lg">
                        <div _ngcontent-c1="" class="modal-content">
                            <div _ngcontent-c1="" class="modal-header">
                                <h5 _ngcontent-c1="" class="modal-title" id="exampleModalLongTitle">{{'UserProfile.FormTitle'|translate}}</h5>
                                <button _ngcontent-c1="" aria-label="Close" class="close" data-dismiss="modal" type="button"><span _ngcontent-c1="" aria-hidden="true">×</span></button>
                            </div>
                            <div _ngcontent-c1="" class="modal-body" id="lendrequestbody">
                                <app-userprofile></app-userprofile>
                            </div>
                            <div _ngcontent-c1="" class="modal-footer">

                                <button _ngcontent-c1="" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target=".bd-example-modal-lg-editsetting-page" data- type="button">{{'Button.ButtonChangePassword'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!---modal Eigene start-->
                <div draggable class="modal fade bd-example-modal-lg-eigene-Stammdatenverwaltung eigene-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Stammdatenverwaltung</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="lenderrequestbody">
                                <form>
                                    <div class="row">
                                        <div class="modal-body">
                                            <div id="eigeneBody">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <th>
                                                                {{'Borrower.BankDashboard.Lender'|translate}}
                                                            </th>
                                                            <td>{{bestPriceViewService.lenderSendRequestModel.LenderName}}</td>
                                                        </tr>
                                                        <tr><th>{{'Borrower.BankDashboard.Borrower'|translate}}</th><td>{{bestPriceViewService.lenderSendRequestModel.BorrowerName}}</td></tr>
                                                        <tr><th>{{'Borrower.BankDashboard.Amount'|translate}}</th><td><input [disabled]="1==1" #Amount1="ngModel" [(ngModel)]="bestPriceViewService.lenderSendRequestModel.Amount" name="Amount" type="text" id="amount" class="form-control requestamount" maxlength="7"></td></tr>
                                                        <tr><th>{{'Borrower.BankDashboard.StartDate'|translate}} </th><td><input [disabled]="1==1" #StartDate="ngModel" [(ngModel)]="bestPriceViewService.lenderSendRequestModel.StartDate" name="StartDate" type="date" id="datepicker" class="form-control hasDatepicker datepicker"></td></tr>
                                                        <tr><th>{{'Borrower.BankDashboard.Endate'|translate}}</th><td><input [disabled]="1==1" #EndDate="ngModel" [(ngModel)]="bestPriceViewService.lenderSendRequestModel.EndDate" name="EndDate" type="date" id="datepicker1" class="form-control hasDatepicker datepicker1"></td></tr>
                                                        <tr><th>{{'Borrower.BankDashboard.NrOfDays'|translate}}&nbsp;&nbsp;</th><td id="no_of_days">{{bestPriceViewService.lenderSendRequestModel.NoOfDays}}</td></tr>
                                                        <tr>
                                                            <th>{{'Borrower.BankDashboard.InterestConvention'|translate}}</th>

                                                            <td>
                                                                <select [disabled]="1==1" #InterestConvention="ngModel" [(ngModel)]="bestPriceViewService.lenderSendRequestModel.InterestConvention" name="InterestConvention" class="form-control" id="interest">

                                                                    <option *ngFor="let interest of bestPriceViewService.listInterestConvention" value="{{interest.Id}}">{{interest.Value}}</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>{{'Borrower.BankDashboard.Payments'|translate}}</th>
                                                            <td>
                                                                <select #Payments="ngModel" [(ngModel)]="bestPriceViewService.lenderSendRequestModel.Payments" name="Payments" [disabled]="1==1" class="form-control" id="payments">
                                                                    <option *ngFor="let payment of bestPriceViewService.listPayments" value="{{payment.Id}}">{{payment.Value}}</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr><th>{{'Borrower.BankDashboard.RateOfInterest'|translate}}</th><td><input (keypress)="numberWithDecimalOnly($event)" #RateOfInterest="ngModel" [(ngModel)]="bestPriceViewService.lenderSendRequestModel.RateOfInterest" name="RateOfInterest" type="text" id="RateOfInterest" class="form-control requestamount" maxlength="7"></td></tr>
                                                        <tr><td><input type="button" (click)="UpdateLenderSendRequestRateOfInterest()" class="btn btn-info btn-lg" id="lendRequestsend" value="SEND"></td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="eigenepdf">

                                                <div class="showpdf">
                                                    <div class="pdffile" data-id="2018-08-01 16_38_10-28 Aug 2018 15:46:44.pdf"
                                                         data-toggle="modal" data-target=".bd-example-modal-lg-cockpit-pdf">
                                                        <span>
                                                            <i class="fa fa-file-pdf-o" style="font-size:20px;color:red"></i>
                                                        </span> 2018-08-01 16_38_10-28 Aug 2018 15:46:44.pdf
                                                        <span class="del-icon">
                                                            <i class="material-icons">delete_outline</i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="button-div">
                                                    <input class="btn " type="button" value="Datei hochladen" id="eigenepdfBtn">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'Button.ButtonClose'|translate}}</button>

                            </div>

                        </div>
                    </div>
                </div>


                <!---pdf modal -->
                <div class="modal fade bd-example-modal-lg-cockpit-pdf admin-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Show Pdf</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body" id="lendrequestbody">
                                <embed src="images/2018-08-01 16_38_10-28 Aug 2018 15_46_44.pdf" type="application/pdf" width="100%" height="600px" />

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'Button.ButtonClose'|translate}}</button>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- modal end-->

            </div>

        </div>


        <!-- Dashboard Page main Content ends-->

    </div>


    <script>
        var state = "expanded ";
        $('.dashboard-left .link').on('click', function () {
            if ($(this).hasClass('current')) {
                $(this).removeClass('current');
            } else {
                $('.dashboard-left .link.current').removeClass('current');
                $(this).addClass('current');
            }
        });
                                    //Check if navbar is expanded or minimized and handle
                                    //$('#navbar-toggle').click(
                                    //})



                                                                            // if (document.documentElement.clientWidth < 900) {
                                                                            //     $('#navbar-toggle').click(function() {
                                                                            //         $("html").addClass("open-nav")
                                                                            //     })
                                                                            // }
    </script>

</body>
<!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://unpkg.com/popper.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js'></script>
<script src="js/index.js "></script>
</html>
