/* Dashboard Page css starts here */

select#logicroom {
    background: #8636d7;
    border: 1px solid #1c5d98 !important;
    color: #fff;
    padding: 0.2em 2em;
    border-radius: 3px;
    font-size: 15px;
}

li.account {
    border: none !important;
}

.full-header .instimatch-logo {
    margin-left: 20%;
}
button.btn.w-100.w-100-px.update.btn-secondary {
    float: left !important;
    width: 20% !important;
    font-size: 15px;
    background-color: #1c5d98 !important;
    color: #fff !important;
}


ul.in-lang li:nth-child(4),
ul.in-lang li:nth-child(5) {
    background: none !important;
}

ul.in-lang li:nth-child(n+5) {
    padding: 0.1em 0.6em;
}

ul.in-lang li:nth-child(4) {
    border: none;
    color: #fff;
}
#wrapper ul.in-lang li.lang-icon {
padding: 0.2em 0.8em 0.3em;
    
}
#Rate-Panel .pr-1.text-centered.head-modal-table {
    background-color: #1c5d98 !important;
    border: 1px solid #fff !important;
}
.identity i.material-icons {
    top: 0px;
    position: relative;
    font-size: 28px;
    color: #1c5d98 !important;
    border: 1px solid #1c5d98 !important;
    padding: 2px 3px;
}
    .identity i.material-icons:hover {
        color: #fff !important;
        background-color: #1c5d98 !important;
    }
body .in-lang li.identity.account-style {
    background-color: #1c5d98 !important;
    color: #fff !important;
    padding: 5px 10px !important;
    font-size: 16px !important;
    vertical-align: text-bottom;
}
ul.in-lang li.french {
    display: none;
}
i.icon-position {
    position: relative;
    top: 3px;
    font-size: 20px;
}
li.identity:hover {
    background-color: transparent !important;
    color: #fff !important;
}

li.identity a:hover {
    background-color: transparent !important;
    color: #fff !important;
}

#wrapper ul.in-lang li.hover {
    background-color: transparent !important;
    color: #fff !important;
}

button.btn.w-100.w-100-px.update-active.update {
    float: left !important;
    width: 20% !important;
    font-size: 15px;
    background-color: #1c5d98 !important;
    color: #fff !important;
}
button.btn.w-100.w-100-px.update-active.update-status {
    float: right;
    width: 20% !important;
    font-size: 15px;
}
.dashboard-right button.btn.w-100 label {
    color: #333 !important;
}
/*.cockpit-dropdown-div {
    position: absolute;
    top: 100px;
}*/
a.status-on.ng-star-inserted {
    background-color: #72af09;
    color: #fff !important;
}
a.status-off.ng-star-inserted {
    background-color: orangered;
    color: #fff !important;
}

.sidebar-nav[_ngcontent-c1] li[_ngcontent-c1] a.status-on.ng-star-inserted[_ngcontent-c1]:hover {
    background-color: #72af09;
}
.sidebar-nav[_ngcontent-c1] li[_ngcontent-c1] a.status-off.ng-star-inserted[_ngcontent-c1]:hover {
    background-color: orangered;
}

button.status-on.ng-star-inserted {
    background-color: #72af09;
    color: #fff !important;
    width: 20%;
    border: orangered;
    padding: 0px !important;
    height: 40px;
    vertical-align: middle;
    float: right;
}

button.status-off.ng-star-inserted[_ngcontent-c1] {
    background-color: orangered;
    color: #fff !important;
    width: 20%;
    border: orangered;
    padding: 0px !important;
    height: 40px;
    vertical-align: middle;
    float: right;
}
button.status-on, button.status-off {
    background-color: green;
    color: #fff !important;
    width: 20%;
    border: orangered;
    padding: 0px !important;
    height: 40px;
    vertical-align: middle;
    float: right;
}

/* header  css starts */
@media screen and (max-width: 812px) {
    .full-header .instimatch-logo {
    margin-left: 30vw;
}
.full-header .col-lg-8.col-md-8 {
   max-width: 100% !important;
    flex: inherit;
   
}
.full-header ul.in-lang{
    text-align: center !important;
    margin-top: 20px;
}
.full-header ul.in-lang li{
     margin-left: 10px;   
}

}
@media screen and (max-width: 425px) {
.full-header .instimatch-logo img {
    width: 80%;
    margin-top: 9px;
}
.full-header .instimatch-logo {
    margin-left: 20%;
}
.full-header ul.in-lang{
padding-left: 0px;
}
}

@media screen and (max-width: 350px) {
.full-header ul.in-lang li {
    margin-left: 5px;
}
}
/* header  css end */

/* Sidebar Nav css starts */

a#navbar-toggle {
    position: absolute;
    top: 0%;
    border: 1px solid #fff;
    height: auto;
    width: auto;
    margin-left: 2%;
    padding: .5em 1em .2em;
    margin-top: 1%;
}

a#navbar-toggle span {
    width: 100%;
    height: auto;
    position: relative;
}

#main-panel,
.sidebar-wrapper {
    -webkit-transition-property: top, bottom, width;
    transition-property: top, bottom, width;
    -webkit-transition-duration: 1.5s, 1.5s, .1.5;
    transition-duration: 1.5s, 1.5s, 1.5s;
    -webkit-transition-timing-function: linear, linear, ease;
    transition-timing-function: linear, linear, ease;
    -webkit-overflow-scrolling: touch
}

.sidebar-mini #main-panel {
    width: calc(100% - 160px);
    background: #efefef;
}

#main-panel {
    position: relative;
    float: right;
    width: calc(100% - 320px);
    color: #fff;
    padding: 3em 1em;
    margin: 1%;
    background: #efefef;
}
#lendrequestbody ul {
    color: #333 !important;
}
#lendrequestbody ul li a{
    color: #333 !important;
}

.sidebar {
    position: fixed;
    top: 97px;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    -webkit-transition: margin 2s;
    transition: margin 2s;
}

#toggleView {
    margin-left: 44px;
}

.menu-icon {
    float: right;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar span.input-group-icon {
    position: inherit;
    float: right;
}

#wrapper .sidebar-nav li a {
    font-size: 12px;
    text-decoration: none;
    color: #333;
    float: left;
    text-decoration: none;
    width: 100%;
    height: 52px !important;
    line-height: 25px;
    padding: 15px 10px !important;
    border-bottom: 1px solid #cacaca !important;
}

.sidebar-nav li a:hover {
    background: #cccccc !important;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}
@media screen and (max-width: 812px) {
 #main-panel{
  width: 100%;
  margin: 0%;
}

 .nav-open .sidebar {
    transform: translateZ(0);
    margin-left: 0px !important;
}
.sidebar{
    transform: translate3d(-260px,0,0);
    position: absolute;
}
.nav-open .sidebar {
    background: #18191d;
}
a#navbar-toggle{
        padding: 5px 9px 1px;
}
.sidebar-mini #main-panel, .sidebar-mini .full-header .col-lg-8, .sidebar-mini .full-header .instimatch-logo {
    opacity: .2;
}   
}

/* Sidebar Nav css ends */

/* Dashboard content css starts */
.dashboard-left .link {
    background: #37383d;
    color: #fff;
    border: none;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
    border-radius: 0px;
    padding: 8px 5px;
    margin-bottom: 6px;
    cursor: pointer;
    max-width: 100%;
    width: 100%;
}
.dashboard-left .link .col-md-6 {
    text-align: center;
}
.dashboard-left .link .col-md-6 a {
    color: #fff !important;
}
    .dashboard-left .link:focus-within {
        background: #1c5d98 !important;
        outline: none;
        box-shadow: none;
        border-bottom-color: #1c5d98 !important;
        color: #fff !important;
    }

    .dashboard-left .link:hover {
        background: #1c5d98 !important;
        outline: none;
        box-shadow: none;
        border-bottom-color: #1c5d98 !important;
        color: #fff !important;
    }
.dashboard-left li {
    list-style: none;
    border-top: 1px solid #737375;
    border-bottom: 1px solid #737375;
    padding: 5px 0px;
}
footer.my-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 999999;
}
    footer.my-footer .container {
        padding: .5em 0 !important;
    }
.my-footer .navbar-footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.my-footer .navbar-footer a {
    color: #333 !important;
    text-decoration: none;
}
.my-footer {
    background-color: #ccc;
}
.dashboard-left .col-lg-6.d-lg-inline {
    margin-bottom: 6px;
}
.dashboard-left button {
    /*width: 49.7%;*/
    background: #37383d;
    color: #fff;
    border: none;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
    border-radius: 0px;
    padding: 8px 5px;
}

.dashboard-left button.link.current {
background: #8c21d3;
outline: none;
box-shadow: none;
border-bottom-color: #c688ef;
touch-action: auto;
}
.dashboard-right button.btn.w-100.bold-btn {
    font-weight: bold;
    padding: 15px 3px;
    font-size: 16px;
    margin-bottom: 10px;
}
.dashboard-right button.btn.w-100 {
    padding: 10px 3px;
    background: #c6d9f1 !important;
    border-bottom: 1px solid #c6d9f1 !important;
    border-radius: 0px;
    margin-bottom: 4px;
    color: #333;
}
    .dashboard-right button.btn.w-100.active {
        background: #1c5d98 !important;
        border-bottom: 1px solid #1c5d98 !important;
    }
.dashboard-right button:focus {
    outline: none;
    /*background: #8636d7 !important;*/
    box-shadow: none;
}
.green-btn {
    background: #72af09 !important;
    border: 1px solid #c4fd63 !important;
}
.dashboard-right ul.pagination {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.dashboard-right ul.pagination li a {
    background-color: transparent;
    border-color: #8636d7;
    color: #fff !important;
    font-size: 14px;
    font-weight: 100;
    padding: 6px 14px;
    border-radius: 4px;
    margin-right: 4px;
}
.dashboard-right ul.pagination li a:focus, .dashboard-right ul.pagination li a:hover {
    background-color: #8636d7;
    outline: none !important;
        box-shadow: none;
}

/* Dashboard content css end */


/*Media Queries*/

@media(min-width:1024px) and (max-width:1440px) {
    .sidebar-mini #main-panel {
        width: calc(100% - 130px);
    }
}
@media screen and (max-width: 1280px) {
.dashboard-right button.btn.w-100{
font-size: 12px;
}
}

@media screen and (max-width: 1024px) {
.dashboard-price-list table th{
vertical-align: inherit;
}
.dashboard-right .row:first-child {
    margin-bottom: 0px;
}
.dashboard-right button.btn.w-100.bold-btn{
margin-bottom: 0px;
}
.dashboard-right .row {
    margin-bottom: 8px;
}
.dashboard-right button.btn.w-100{
font-size: 12px;
}
.dashboard-right .col-md-3.pr-1 {
   max-width: 100%;
  flex: auto;
  padding-right: 0px !important;
}
}
@media screen and (max-width: 991px) {
    .nav-open .sidebar {
        transform: translateZ(0);
    }
    .nav-open .main-panel {
        right: 0;
        transform: translate3d(260px, 0, 0);
    }
  
}
@media screen and (max-width: 812px) {
.dashboard-left .pr-1 {
    padding: 0px !important;
}   
.dashboard-left .col-lg-6.d-lg-inline.pr-1 {
    padding-right: 0px !important;
}
.dashboard-right ul.pagination {
    position: relative;
   margin-top: 50px;
    float: right;
}
.dashboard-right {
    margin-top: 50px;
}
.dashboard-left .link.row {
    margin: 0px;
    margin-bottom: 6px;
}
}
@media screen and (max-width: 736px) {
.dashboard-right .row {
    margin-bottom: 10px;
}
}
@media screen and (max-width: 425px) {
.dashboard-right ul.pagination {
   margin-top: 35px;
}
.dashboard-left .link .col-md-6 {
width: 50%;
}
.dashboard-left .link.row {
    max-width: 100% !important;
    margin: 0 auto 6px;
}
.dashboard-left .pr-1 {
padding-left: 0px;
}   
}


/* Dashboard Page css ends here */

/* Dashboard price list content css start */
.dashboard-price-list {
    margin-bottom: 50px;
}
.dashboard-price-list table th {
    background: #8636d7;
}
.dashboard-price-list table {
    display: inline-table;
}
.dashboard-price-list table th {
  background: #72af09;
    border-bottom: 1px solid #c4fd63;
    margin-right: 1px;
    border-right: 1px solid #25272e;
    border-top-color: transparent;
}

.dashboard-price-list .table-bordered td, .dashboard-price-list .table-bordered th {
    padding: 6px 6px;
    text-align: center;
    border-left-color: transparent;
}
.dashboard-price-list .table-bordered td {
    background: #37383d;
    border-right-color: #25272e;
    border-bottom-color: #25272e;
    cursor: pointer;
    vertical-align: inherit;
}
.dashboard-price-list .table-bordered td.active {
    background: #8636d7;
    border-bottom: 1px solid #9b45f1;
    cursor: pointer;
}
.dashboard-price-list .table-bordered td:focus {
    background: #8c21d3;
    outline: none;
    box-shadow: none;
    border-bottom-color: #c688ef;
}
.dashboard-price-list .table-bordered td.add-col{
    background: #8c21d3;
   border-bottom-color: #c688ef;
}
/*Media Queries*/

@media(max-width: 1440px) {
   .dashboard-price-list table {
    display: block;
    border-color: grey;
}
}
@media(max-width: 425px) {
.dashboard-price-list table th{
font-size: 10px;
}
.dashboard-price-list .table-bordered td{
font-size: 10px;
}
}

/* Dashboard price list content css end */

/* Dashboard Lender setting css start */
.lendersetting ul.pagination {
    margin-top: 20px;
}
.lendersetting ul.pagination li a {
    background-color: transparent;
    border-color: #8636d7;
    color: #fff !important;
    font-size: 14px;
    font-weight: 100;
    padding: 6px 14px;
    border-radius: 4px;
    margin-right: 4px;
}
.lendersetting ul.pagination li a:focus, .lendersetting ul.pagination li a:hover{
color: #fff;
background: #8636d7;
}
.lendersetting .col-lg-4 ul {
    padding-left: 0px;
}
.lendersetting li {
    list-style: none;
}
.lendersetting li input[type="checkbox"]+label{
margin-top: 25px !important;
}
.lendersetting li.heading {
    background: #72af09;
    border-bottom: 1px solid #c4fd63;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 15px;
}
.lendersetting span.line{
padding-top: 10px;
}
.lendersetting {
    margin-bottom: 80px;
}
.counterparty-modal .modal-header {
    background-color: #72af09;
}

    .counterparty-modal .modal-header .modal-title {
        margin: 0px;
        color: #fff;
    }

.counterparty-modal .modal-footer {
    background: #efefef;
    border-top: none;
    padding-top: 10px;
}

.counterparty-modal button.close {
    color: #fff;
    opacity: 1;
}

.counterparty-modal .btn-secondary {
    background-color: #72af09;
    border-color: #72af09;
}

.counterparty-modal .input-group {
    margin-bottom: 10px;
}

.counterparty-modal span.line {
    padding-bottom: 8px;
    color: #333 !important;
    background-color: #c6d9f1 !important;
    border-bottom: 0px !important;
    padding: 8px;
}

.counterparty-modal div#lendrequestbody {
    padding-top: 25px;
}
.counterparty-modal div#lendrequestbody {
padding-top: 25px;
}
.application-sec input:focus {
    color: #fff;
    border: none;
    box-shadow: none;
    outline: none;
}
/* Dashboard Lender setting css end */
/* Dashboard application page css start */
.dashboard-right div.btn.w-100.active {
    padding: 0px;
    margin-bottom: 4px;
    border-radius: 0px;
    border-bottom: 1px solid #1c5d98;
    background: #8636d7 !important;
    height: 40px;
}
.dashboard-right div.btn.w-100.active input {
    border-bottom: none;
    margin-bottom: 0px;
    -moz-appearance:textfield;
    text-align: center;
    font-weight: normal;
}
.application-sec div input:hover::-webkit-inner-spin-button, .application-sec div input:hover::-webkit-outer-spin-button, .application-sec div input:focus::-webkit-inner-spin-button, .application-sec button input:focus::-webkit-outer-spin-button{
   opacity: 0; 
}
.application-sec button.btn.w-100 {
    padding: 0px !important;
  height: 40px;
    vertical-align: middle;
}
.application-sec button.btn.w-100 a {
    font-size: 25px;
    color: #333 !important;
}
.application-sec button.btn.w-100 span {
    font-size: 22px;
}
.application-sec input {
    font-weight: bold;
    padding: 10px 3px;
    font-size: 15px;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 0px;
}
.application-right input {
   /* font-size: 13px;*/
    font-weight: normal;
}
.application-sec button input {
    text-align: center;
    font-weight: normal;
    border-bottom: none;
}
/*.application-panel {
    width: 100% !important;
    max-width: 100%;
}
.app-pg a#navbar-toggle {
    display: none;
}*/

@media screen and (max-width: 1440px) {
.application-right input {
    font-size: 11px;
  }
}
@media screen and (max-width: 1280px) {
.application-right .col-lg-3 {
    max-width: 100%;
}
.application-sec input{
font-size: 13px;
}
.application-sec button.btn.w-100 a {
    font-size: 20px;
}
.application-sec button.btn.w-100 span {
    font-size: 18px;
}
}
@media screen and (max-width: 1024px) {
.application-sec .row {
    margin-bottom: 0px;
}
.application-sec input {
    font-size: 12px;
}
.application-sec button.btn.w-100 a {
    font-size: 18px;
}
.application-page .col-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;
}
.application-right {
    margin-top: 40px;
}
}
@media screen and (max-width: 767px) {
.application-sec .row {
    margin-bottom: 10px;
}
}
@media screen and (max-width: 425px) {
.counterparty-modal .modal-header .modal-title{
font-size: 16px;
}
}

/* Dashboard application page css end */
.eigene-modal .modal-dialog.modal-lg {
    max-width: 100%;
    width: 70%;
    margin: 0 auto;
}
.eigene-modal .modal-header .modal-title {
    margin: 0px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.eigene-modal .modal-header .modal-title {
    margin: 0px;
    color: #fff;
}
.eigene-modal .modal-header {
    background-color: #72af09;
}
.eigene-modal #eigeneBody {
    width: 50%;
    float: left;
}
.eigene-modal #eigenepdf {
    width: 50%;
    float: left;
    padding-left: 20px;
}
.eigene-modal .modal-footer {
    background: #25272e;
    border-top: none;
    padding-top: 0px;
}
.eigene-modal .btn-secondary {
    background-color: #72af09;
    border-color: #72af09;
}
.eigene-modal tr:last-child td input#updateuser, input.updateuser1 {
    width: 50%;
    background-color: #8636d7 !important;
    border: #8636d7 !important;
    border-bottom: 1px solid grey !important;
    border-radius: 0px;
    font-size: 15px;
   padding: 8px 12px !important;
    margin-top: 10px;
    color: #fff;
    width: 100%;
   
}
.eigene-modal tr:last-child td input#updateuser:hover, input.updateuser1:hover{
background: #7e2cb8 !important;
}
#showPdf div#pdfmodaldialog {
    margin-top: 10%;
}
#showPdf .modal-header {
    background-color: #72af09 !important;
 }
#showPdf .close, #LenderPdf .close {
margin: -15px -15px -15px auto;
}
#LenderPdf div#pdfbody {
    text-align: center;
}
#LenderPdf label.upload-pdf-btn {
    background-color: #8636d7 !important;
    border: #8636d7 !important;gfgfg
    border-bottom: 1px solid grey !important;
    border-radius: 0px;
    font-size: 15px;
    padding: 8px 15px;
    left: -1px;
    width: 64%;
    max-width: 100%;
}
#LenderPdf label.upload-pdf-btn:hover, #LenderPdf #uploadpdf:hover{
background: #7e2cb8 !important;
}
#LenderPdf #uploadpdf {
    background-color: #8636d7 !important;
    border: #8636d7 !important;
    border-bottom: 1px solid grey !important;
    border-radius: 0px;
    font-size: 15px;
    margin-top: 10px;
}
#showPdf h4.modal-title {
    font-size: 16px;
    font-weight: bold;
}
#LenderPdf div#pdfmodaldialog {
    margin-top: 10%;
}
#LenderPdf .modal-header {
    background-color: #72af09 !important;
}
.eigene-modal #lendrequestbody table tbody tr td input {
    width: 338px;
  
    float: right;
}
.eigene-modal #eigeneBody table {
    width: 100%;
}

.eigene-modal .showpdf {
    margin-left: 10px;
    color: #fff;
}
.eigene-modal button.close {
    color: #fff;
    opacity: 1;
}
.eigene-modal #lendrequestbody table tbody tr th {
    width: 30%;
}
.eigene-modal td button.btn {
    background-color: #8636d7;
    border: #8636d7;
    border-bottom: 1px solid grey !important;
    border-radius: 0px;
    font-size: 15px;
    margin: 0px 15px 0px 0px;
    margin-top: 10px;
    color: #fff;
    width: 100%;
}
.eigene-modal tr:last-child td {
    width: 50%;
}
#eigenepdf .button-div input#eigenepdfBtn{
background-color: #8636d7;
    border: #8636d7;
    border-bottom: 1px solid grey !important;
    border-radius: 0px;
    font-size: 15px;
    margin: 0px 15px 0px 0px;
    margin-top: 10px;
    color: #fff;
    width: 50%;
    position: absolute;
    bottom: 3px;
    right: 33%;
    padding: 7px 16px;
}
#eigenepdf .button-div input#eigenepdfBtn:hover{
background: #7e2cb8;
}
input#btn_update {
    width: 48%;
    padding: 8px 15px;
    background-color: #8636d7;
    border: #8636d7;
    border-bottom: 1px solid grey !important;
    font-size: 15px;
}
input#btn_update:hover {
    background: #7e2cb8;
}
.eigene-modal #lendrequestbody table tbody tr td select{
width: 338px;
    height: 35px;
    float: right;
}

.modal-header .close:focus, input#btn_update:focus, .eigene-modal #lendrequestbody table tbody tr td input:focus, #eigenepdf .button-div input#eigenepdfBtn:focus, #LenderPdf label.upload-pdf-btn:focus, #LenderPdf #uploadpdf:focus
 {
    outline: none;
    box-shadow: none;
}
#eigenepdf span.del-icon {
    position: relative;
    margin-left: 20px;
    top: 6px;
}
#eigenepdf .button-div {
    position: absolute;
    bottom: 15px;
    max-width: 100%;
    width: 50%;
}
.cockpit-dropdown-div {
    margin-top: -10px;
}
    .cockpit-dropdown-div button.dropcockpit {
        color: #333;
        background: #e3e3e3 !important;
        border: none;
        text-align: left;
        padding: 8px;
        margin: 0px !important;
        font-size: 11px !important;
        text-transform: capitalize !important;
        width: 100%;
    }
        .cockpit-dropdown-div button.dropcockpit:hover {
            background: #e9e9e9 !important;
            color:#333 !important;
        }
        .cockpit-dropdown-div button.dropcockpit:focus {
            outline: none;
            background-color: #e9e9e9 !important;
            border-top: #e9e9e9 !important;
            border-bottom: #e9e9e9 !important;
            color: #333 !important;
        }
.cockpit-dropdown-div button#Ansehenund:focus {
    border-bottom: 1px solid #c4fd63 !important;
}
.modal-backdrop {
    z-index: -1 !important;
}
.application-export-sec {
    width: 100%;
    max-width: 100%;
    padding:  15px;
}
.application-export-sec table {
    display: table;
}
.ticket-uppr-btn .btn {
    padding: 10px 3px;
    font-size: 15px;
    margin-top: 0px !important;
    color: #fff !important;
    border-radius: 0px;
    float: left;
    width: 150px;
    margin-bottom: 5px;
}
.application-export-sec ul.pagination li a {
    background-color: transparent;
    border-color: #8636d7;
    color: #fff !important;
    font-size: 14px;
    font-weight: 100;
    padding: 6px 14px;
    border-radius: 4px;
    margin-right: 4px;
}
.application-export-sec ul.pagination li a:hover {
    background-color: #8636d7;
    outline: none !important;
    box-shadow: none;
}
.application-export-sec ul.pagination {
    margin-top: 40px;
}
.ticket-uppr-btn .btn.excel-btn {
    margin-left: 20px !important;
}
.cockpit-dropdown-div {
    display: none;
}
.cockpit-btn:hover .cockpit-dropdown-div {
    display: block !important;
    
}
/* Dashboard applicaton pop up common  css end */

/* Dashboard pop up common  css start */
.admin-modal label {
    position: relative;
    top: 0px;
    color: #333;
}
.admin-modal .modal-header {
    background-color: #72af09;
}
.admin-modal button.close {
    color: #fff;
    opacity: 1;
}
.admin-modal .btn-secondary {
    background-color: #72af09;
    border-color: #72af09;
}
.admin-modal input {
    margin-bottom: 10px;
    border: none;
    background: #c6d9f1 !important;
    border-radius: 0px;
    border-bottom: 1px solid #c6d9f1 !important;
    color: #333 !important;
    cursor: pointer;
}
.admin-modal input::placeholder{
color: #fff !important;
}
.admin-modal .modal-header .modal-title {
    margin: 0px;
    color: #fff;
}
.admin-modal input.form-control:focus {
    background: #37383d;
    outline: none;
    box-shadow: none;
}
.admin-modal .modal-footer {
    background: #25272e;
    border-top: none;
}
.admin-modal .col-md-6 {
    float: left;
}
.admin-modal form {
    max-width: 100%;
    width: 100%;
}
.admin-modal input#sendRequest {
    width: 375px;
    max-width: 100%;
}
input#sendRequest {
    background-color: #fff !important;
    color: #1c5d98;
}
.bd-example-modal-lg-setting-page select#setting_start_page {
    background: #37383d;
    border-radius: 0px;
    border-bottom: 1px solid grey !important;
    border: none;
    color: #fff;
}
.bd-example-modal-lg-setting-page select#setting_start_page:focus {
    outline: none;
    box-shadow: none;
}
#lendrequestbody table tbody tr td select:focus {
    outline: none;
    box-shadow: none;
}
.datepicker .datepicker-days table tr td.today {
    background-color: #8636d7 !important;
    color: #fff !important;
    background-image: none !important;
}
#lendrequestbody table tbody tr td input:focus {
    box-shadow: none;
}
.dashboard-modal .modal-header .modal-title {
    margin: 0px;
    color: #fff;
}
#lendrequestbody table tbody tr td {
    color: #333;
}
.dashboard-modal .modal-header {
    background-color: #72af09;
}
.dashboard-modal button.close {
    color: #fff;
    opacity: 1;
}
.dashboard-modal .btn-secondary {
 
    background-color: #72af09;
    border-color: #72af09;
}
#lendrequestbody table tbody tr th {
    width: 100%;
    line-height: 2.5;
    padding: 8px;
    color: #333;
}
#lendrequestbody table tbody tr td input {
    width: 360px;
}
#lendrequestbody table tbody tr {
    border-bottom: 1px solid grey;
}
    #lendrequestbody table tbody tr td input {
        width: 375px;
        background: #c6d9f1 !important;
        border-radius: 0;
        border-bottom: 1px solid #c6d9f1 !important;
        border: none;
        color: #333 !important;
    }
    #lendrequestbody table tbody tr td select {
        background: #c6d9f1 !important;
        borde:;
        border-bottom: 1px solid #c6d9f1 !important;
        border: none;
        color: #333;
    }

#lendrequestbody #sendRequest{
  background-color: #8636d7;
    border: #8636d7;
    border-bottom: 1px solid grey !important;
    border-radius: 0px;
    font-size: 15px;
    margin: 0px 15px 0px 0px;
    margin-top: 10px;
    float: left;   
}
div#lendrequestbody {
    background: #efefef;
}
.dashboard-modal .modal-footer {
    background: #25272e;
    border-top: none;
}
#lendrequestbody table tbody tr:last-child {
    border-bottom: none;
}
@media screen and (max-width: 991px) {
   #lendrequestbody table tbody tr td input {
    width: 225px;}
.admin-modal input#sendRequest {
    width: 225px;
}

}
@media screen and (max-width: 425px) {
#main-panel{
padding:2em 2em;
}    
.dashboard-right ul.pagination {
   margin-top: 35px;
}    
#lendrequestbody table tbody tr td input {
    width: 177px;
}
#lendrequestbody table tbody tr th {
    width: 15%;}
    .full-header ul.in-lang li.account {
    margin-left: 0px !important;
    padding-left: 0px !important;
        padding-right: 0px !important;
}
select#logicroom{
font-size: 12px;
}
}
@media screen and (max-width: 375px) {
#lendrequestbody table tbody tr td input {
    width: 154px;
}

}
/* Dashboard pop up common  css end */


* {
    box-sizing: border-box;
}

html body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
}

body.instibg {
    background: #efefef !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

select:focus {
    outline: none;
}

hgroup {
    text-align: center;
    margin-top: 4em;
}

#wrapper a {
    color: #1c5d98;
    text-decoration: none;
    cursor: pointer;
}

#wrapper {
    max-width: 1400px;
    margin: 0px auto;
    background: url('/images/insti-bg.png') no-repeat;
}

#wrapper.wrapper-full {
    width: 100%;
    max-width: 100%;
    padding: 1.5em 0em;
    background: none;
}

.mb-2,
.my-2 {
    margin-bottom: .5rem !important;
}

.group {
    position: relative;
    margin-bottom: 20px;
}

.fillwhite {
    background-color: #fff;
}

.eqWrap {
    display: flex;
    flex-wrap: wrap;
}

.equalHW {
    flex: 1;
}

div#goback {
    margin: 1em 0 1.5em 0;
}

.list {
    margin: .5rem;
}

.list__item {
    margin: 0 0 .5rem 0;
    padding: 0;
}

i.material-icons.whitebg {
    color: white;
}

span.line {
    border-bottom: 1px solid #fff;
    width: 100%;
    padding-bottom: 10px;
}

label.lbl.notrobot {
    position: absolute !important;
    right: 8px;
    top: 3px;
    z-index: 1;
}

.form-group input:focus~label.notrobot,
.form-group input.used~label.notrobot {
    transform: scale(1);
}

#wrapper btn:focus,
#wrapper .btn.focus {
    outline: 0;
    box-shadow: none;
}

#wrapper input[type="checkbox"]+label {
    cursor: pointer;
    position: relative;
    margin-right: 20px;
    display: inline-block;
    padding-right: 10px;
    margin-top: 14px;
}

#wrapper input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}


/* the checkbox
-----------------------------------------------*/

#wrapper input[type="checkbox"]+label::after {
    content: '';
    border: 2px solid #fff;
    border-radius: 2px;
    background: transparent;
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translate(-20px, -50%);
    box-sizing: border-box;
    width: 20px;
    height: 20px;
}


/* the checkbox -- checked
-----------------------------------------------*/

#wrapper input[type="checkbox"]:checked+label::after {
    border: 2px solid #fff;
    background: transparent;
    transition: background-color 1s;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAQMAAAC3R49OAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfgBwEQARzBMMQpAAAAN0lEQVQI12NgQAEHGBgYHzAwMAMxO5DN38AgIM/AYGHHwFBTw8Bg94OBQf4DUBgqzdwAVI5qAACbXgn3nmfmHgAAAABJRU5ErkJggg==);
    background-position: -2px -1px;
}


/* the checkbox -- disabled
-----------------------------------------------*/

#wrapper input[type="checkbox"]:disabled+label::after {
    border: 2px solid rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .05);
    background-image: none;
}


/* the focus ripple
-----------------------------------------------*/

#wrapper input[type="checkbox"]+label::before {
    content: '';
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    right: -10px;
    transform: translate(-50%, -50%) scale(0);
    width: 1.8px;
    height: 1.8px;
}

#wrapper input[type="checkbox"]:focus+label::before {
    animation: checkboxripple 1s ease-out;
}

@keyframes checkboxripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.md-radio {
    margin: 16px 0;
}

.md-radio.md-radio-inline {
    display: inline-block;
}

.md-radio input[type="radio"] {
    display: none;
}

.md-radio input[type="radio"]:checked+label:before {
    border-color: #fff;
    animation: radioripple 0.2s linear forwards;
}

.md-radio input[type="radio"]:checked+label:after {
    transform: scale(1);
}

.md-radio label {
    display: inline-block;
    height: 25px;
    position: relative;
    padding: 0 30px;
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: baseline;
}

.md-radio label:before,
.md-radio label:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    transition: all .3s ease;
    transition-property: transform, border-color;
}

.md-radio label:before {
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
}

.md-radio label:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    transform: scale(0);
    background: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    padding: 1.5em 0em;
}

ul.in-lang li {
    display: inline-block;
    border: 1px solid #1c5d98;
    margin-left: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 0.9em;
}

ul.in-lang li {
    padding: 0.3em 0.6em;
}

#wrapper ul.in-lang li a {
    color: #fff;
}

ul.in-lang li a:hover {
    color: #fff;
}

#wrapper ul.in-lang li.active {
    background: #8636d7;
}

#wrapper ul.in-lang li:hover>a {
    color: #fff;
    background: #8636d7;
}

/*#wrapper ul.in-lang li.active a,
#wrapper ul.in-lang li:hover,
#wrapper ul.in-lang li a:hover {
    color: #fff;
    background: #8636d7;
}*/

.fiftypercent .md-radio label {
    margin-left: 20%;
    padding: 0 10px;
}

input {
    font-size: 0.9em;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: transparent;
    color: #ffffff;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #fff;
}

.input-group-icon {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #1c5d98 !important;
}
/*body .in-lang li.identity.account-style {
    background-color: #1c5d98 !important;
    color: #fff !important;
    padding: 2px 10px !important;
    font-size: 14px;
}*/

input:focus {
    outline: none;
}


/* Label */

.form-group.form-md-line-input {
    position: relative;
    margin: 0 0 15px;
}

label {
    color: #fff;
    font-weight: normal;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}

.form-group label {
    z-index: -1;
    ;
}


/* Hide label */

.mdl-selectfield label {
    display: none;
}


/* Use custom arrow */

.mdl-selectfield select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mdl-selectfield {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    position: relative;
}

.mdl-selectfield:after {
    position: absolute;
    top: 0.75em;
    right: 0.5em;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: 0.375em solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
}


/* active */

.form-group input:focus~label,
.form-group input.used~label {
    top: -5px;
    -webkit-transform: scale(.75);
    transform: scale(.75);
    left: -2px;
    /* font-size: 14px; */
    color: #1c5d98;
}


/* Underline */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #1c5d98;
    transition: all 0.2s ease;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


/* active */

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}


/* Highlight */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active */

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* Animations */

@-webkit-keyframes inputHighlighter {
    from {
        background: #4a89dc;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #4a89dc;
    }
    to {
        width: 0;
        background: transparent;
    }
}


/* Button */

.button {
    position: relative;
    display: inline-block;
    padding: 4px 24px;
    margin: .3em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #3160B6;
    cursor: pointer;
    transition: all 0.15s ease;
}

.button:focus {
    outline: 0;
}

@keyframes radioripple {
    0% {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
    }
    50% {
        box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
    }
}


/* Ripples container */

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}


/* Ripples circle */

.ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
    -webkit-animation: ripples .4s ease-in;
    animation: ripples .4s ease-in;
}


/* Ripples animation */

@-webkit-keyframes ripples {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        width: 200%;
        padding-bottom: 200%;
        opacity: 0;
    }
}

@keyframes ripples {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        width: 200%;
        padding-bottom: 200%;
        opacity: 0;
    }
}




#divtestUpload .input-group-prepend .btn-primary {
        margin: 0;
        float: left;
        display: block;
        line-height: 25px;
        padding: 6px 10px 0 10px;
        height: 36px;
    }

#divtestUpload .form-control {
    margin-top: 10px;
    float: left;
    display: block;
    height: 36px;
}
.head-modal-table {
    padding: 8px 0px;
}
#wrapper input[type="checkbox"]:checked + label::after {
    border: 2px solid #fff;
    background: transparent;
    transition: background-color 1s;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAQMAAAC3R49OAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfgBwEQARzBMMQpAAAAN0lEQVQI12NgQAEHGBgYHzAwMAMxO5DN38AgIM/AYGHHwFBTw8Bg94OBQf4DUBgqzdwAVI5qAACbXgn3nmfmHgAAAABJRU5ErkJggg==);
    background-position: 1px 1px !important;
    background-repeat: no-repeat !important;
}