.ourCstmCheckBox {
    padding: 22px 0 !important;
    display: table-cell !important;
    width: auto !important;
}

    .ourCstmCheckBox label {
        right: 0 !important;
        margin: 0 !important;
        top: 50% !important;
        padding: 0 !important;
        width: 20px;
        height: 20px;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }

        .ourCstmCheckBox label::after {
            top: 50% !important;
            left: 50% !important;
            right: 0 !important;
            transform: translate(-50%, -50%) !important;
        }

        .ourCstmCheckBox label::before {
            top: 50% !important;
            left: 50% !important;
            right: 0 !important;
            transform: translate(-50%, -50%) !important;
        }
.my-color-box {
    background-color: transparent !important;
    border: none !important;
}
.my-btn-primary {
    color: #fff;
    background-color: #1c5d98 !important;
    border-color: #1c5d98 !important;
    border-radius: 0px !important;
}
    .my-btn-primary:hover {
        color: #fff;
        background-color: #1c5d98 !important;
        border-color: #1c5d98 !important;
        border-radius: 0px !important;
    }