.common-bt-1 {
    width:150px !important;
    background-color: #8636d7 !important;
    border: 0px !important;
    border-radius: 5px !important;
    padding: 8px 0 !important;
    float:left;
    margin-right:10px;

}
.common-bt {
    width: 69px !important;
    background-color: #8636d7 !important;
    border: 0px !important;
    border-radius: 5px !important;
    padding: 8px 0 !important;
    float: left;
}

